.App {
  text-align: center;
  background-color: lightgreen;
  margin: 0px 50px;
}

.question {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  
}

.numbers p {
  background-color: black;
  color: white;
  width: 32px;
  height: 32px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons button {
  height: 16px;
  width: 16px;
  font-size: 15px;
  padding: 0px;
}

.page_bottom {
  padding: 20px;
}